@using Microsoft.AspNetCore.Http;
@using PatientApp.Core.Application.Helpers;
@using PatientApp.Core.Application.ViewModels.Usuarios;
@inject IHttpContextAccessor httpContext;
@{
    UsuarioViewModel usuario = httpContext.HttpContext.Session.Get<UsuarioViewModel>("Usuario");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PatientApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PatientApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
            <div class="offset-1 container-fluid">
                <img class=" Hospital" src="https://cdn.icon-icons.com/icons2/2257/PNG/512/antivirus_suite_mask_protective_clothing_icon_140218.png" />
                <a class="text-white fw-bold navbar-brand" asp-area="" asp-controller="Home" asp-action="Home"><h2>PatientApp</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (usuario != null && usuario.Tipo_Usuario == "Asistente")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Paciente" asp-action="Index">Main. Patients</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Cita" asp-action="Index">Main. Dates</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Prueba" asp-action="Index">Main. Tests</a>
                            </li>
                        }

                        @if (usuario != null && usuario.Tipo_Usuario == "Administrador")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Medico" asp-action="Index">Main. Doctors</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Usuario" asp-action="Index">Main. Users</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Resultado" asp-action="Index">Main. Result</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container ">
            &copy; 2023 - PatientApp - <a asp-area="" asp-controller="Home" asp-action="Home">Home Page</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
