
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="album py-5 row py-lg-5">
        <center>

            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold fw-light">Welcome to PatientApp</h1>
                <p class="lead text-muted">Home Page</p>
            </div>
            <img class="HomePic" src="https://mirazodigital.com.br/wp-content/uploads/2021/09/pinpng.com-medico-png-3750925.png" />

        </center>

    </div>
</div>

