@model PatientApp.Core.Application.ViewModels.Pruebas.SavePruebaViewModel;
@{
    ViewData["Title"] = "Delete Prueba";
}
<div class="container-fluid">
    <div class="row">

        <div class="col-6 offset-3">
            <div class="card">

                <center>
                    <div class="card-header bg-secondary text-light">
                        <h4>Surely you want to remove @Model.Prueba ?</h4>
                    </div>
                </center>

                <center>

                    <div class="card-body">
                        <form method="post" asp-controller="Prueba" asp-action="DeletePost">

                            <input type="hidden" asp-for="Id" />

                            <button type="submit" class="btn btn-primary">Eliminar</button>
                            <a asp-controller="Prueba" asp-action="Index" class="btn btn-danger">Cancelar</a>

                        </form>
                    </div>

                </center>


            </div>

        </div>

    </div>
</div>