@model List<PatientApp.Core.Application.ViewModels.Pruebas.PruebaViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="album py-5 row py-lg-5">
        <center>
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold fw-light">Testing Maintenance</h1>
                <p class="lead text-muted">Here you can create new testing</p>
            </div>
        </center>

    </div>

    <div class="d-xl-flex flex-column justify-content-center align-content-md-center mb-5 ">
        <a asp-controller="Prueba" asp-action="Create" class="btn btn-outline-success">Create New Testing</a>
    </div>

</div>

<div class="container">
    <div class="main-body">
        <div class="row">
            @foreach (PatientApp.Core.Application.ViewModels.Pruebas.PruebaViewModel pvm in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                @*<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">*@
                                <div class="mt-3">

                                    @*<h5 class="card-title"></h5>*@
                                    <h3 class="card-subtitle mb-2 text-muted"><b>@pvm.Prueba</b></h3>
                                    <p class="card-text">Sigue de vida alegre!</p>
                                    <center>
                                        <a asp-controller="Prueba" asp-action="Update" asp-route-Id="@pvm.Id" class=" btn btn-outline-warning"><i class="material-icons">✏️</i>Editar</a>
                                        <a asp-controller="Prueba" asp-action="Delete" asp-route-Id="@pvm.Id" class=" btn btn-outline-danger"><i class="material-icons">🗑️</i> Eliminar</a>
                                    </center>

                                </div>
                            </div>

                            <hr class="my-4">

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>